@font-face {
  font-family: CustomFont;
  src: url(mario.woff),
   url('mario.woff2');
  }
  @font-face {
    font-family: CustomFont2;
    src: url('smb1font.ttf') format('truetype');    }
h1{
  font-family: "CustomFont2";
text-align: center;
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  display: table;
  margin: auto;
}


body {
  
  background-color: black;
  display: table-cell;
  vertical-align: middle;
}
#gameCenter{
  height: 800px;
  width: 800px;
  margin: 0 auto;

}

#nav{
  margin: auto;
  position: absolute;
  width:70%; right: 0%;
  display:inline-table;

}
#overlayControls{
  margin-bottom:30px;
  position: absolute;
  width:100%;
  height:230px;
  top:0px;
  left:0px;
  background-color: #eee;
  border: 1px solid #ccc;
}
.navTile{
  padding:10px;
width: 75px;
height: 50px;
display:inline-block;
border: 1px solid #ccc;

}
#credits{
  text-align: center;

}
#startButton{
  position:absolute;
  top:150px;
  left:340px;
  height:70px;
  width:150px;
    z-index: 2000;

    background: transparent;
    border: none !important;
    font-size:0;
}
#aboutButton{
  position:absolute;
  top:230px;
  left:340px;
  height:70px;
  width:150px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  z-index: 200;

}
#gameTitle{
  font-family: "CustomFont2";
text-align: center;
font-size: 2.5em;
}
canvas {
    border: 1px solid black;

    
    position: absolute;
    top:250px;


    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #game{
    z-index: 1;
    background:transparent;

  }
  #gameMid{
    z-index: 2;
    background:transparent;

  }
  #gameBackground{
    z-index: 0;

 }
  #gameChar{
    z-index: 3;
    background:transparent;
  }
  audio{
    width:0px;
    height: 0px;
  }
 
 
#lean_overlay {
  position: absolute;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 10; /* Sit on top */
  margin-left: auto;
  margin-right: auto;
  top:175px;
  width: 850px; /* Full width */
  height: 450px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height:250px;
width: 250px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
#submit{
  position: relative;
  bottom:0;
}
/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}