.balance {
/* position: absolute;
z-index: 2;
background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 31%, rgba(248,181,0,1) 73%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(31%, rgba(252,205,77,1)), color-stop(73%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 31%, rgba(248,181,0,1) 73%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 31%, rgba(248,181,0,1) 73%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 31%, rgba(248,181,0,1) 73%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 31%, rgba(248,181,0,1) 73%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
border: rgba(242,246,248,1);
border: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(46%, rgba(216,225,231,1)), color-stop(75%, rgba(181,198,208,1)), color-stop(89%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
border: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
*/
z-index: 2;
position: absolute;
  text-align: center;
  margin-left: 25%;
  margin-top: -55%;
  font-size: 30px;
 
  color: #d9d9d9;
}
.center {
z-index: 3;
position: absolute;
margin-left: 27%;
margin-top: -33%;

}
/*
sets up background
*/
body {

-webkit-animation: color-change-2x 2s linear infinite alternate both;
animation: color-change-2x 2s linear infinite alternate both;

}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #E0FFFF;
  }
  100% {
    background: #87CEFA;
  }
}
@keyframes color-change-2x {
  0% {
    background: #E0FFFF;
  }
  100% {
    background: #87CEFA;
  }
}
.brick {
z-index: 2;
position: relative;
width: 500px; height: 200px;
}
/*
sets up balance styling
*/
.cloud{
 animation-delay: 2s;
 z-index: 1;
 position: relative;

 margin-left: 102%;
 width: 250px; height: 100px;
 animation-name: cloud;
 animation-duration: 15s;
 animation-iteration-count:infinite;
}
@keyframes cloud {
  0%   {right:-5%;}
  50%  {right:140%;}
  100%  {left:0px;}
  
}
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  
  height: 4em;
  width: 10em;
  margin-left: 35%
 
}

/*
sets up each shop item's styling
*/
.item {
top: -500px;
z-index: 2;
position: relative;
background: rgba(226,226,226,1);
background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 76%, rgba(209,209,209,1) 81%, rgba(209,209,209,1) 82%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(76%, rgba(219,219,219,1)), color-stop(81%, rgba(209,209,209,1)), color-stop(82%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 76%, rgba(209,209,209,1) 81%, rgba(209,209,209,1) 82%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 76%, rgba(209,209,209,1) 81%, rgba(209,209,209,1) 82%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 76%, rgba(209,209,209,1) 81%, rgba(209,209,209,1) 82%, rgba(254,254,254,1) 100%);
background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 76%, rgba(209,209,209,1) 81%, rgba(209,209,209,1) 82%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

border: rgba(242,246,248,1);
border: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(46%, rgba(216,225,231,1)), color-stop(75%, rgba(181,198,208,1)), color-stop(89%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
border: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 46%, rgba(181,198,208,1) 75%, rgba(181,198,208,1) 89%, rgba(224,239,249,1) 100%);
border: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
width:   400px;
border: 300px;
padding: 50px;

margin-left: 6%;
display:inline-block;
color: #404040;
font-weight: bold
  
}
